###### This is tempalte file for terraform.tfvars ######
# TODO: fill out neccessary config for each environment variables, and remove `.example` extenstion from the file.

# AWS region to deploy resources in
aws_region = ""

# AWS CLI profile to use
aws_profile = ""

# CIDR block for the VPC
vpc_cidr = ""

# CIDR block for the subnet
subnet_cidr = ""

# CIDR blocks allowed to access RDP
rdp_cidr_blocks = [""]

# Name of the SSH key pair
key_name = ""

# Path to the public key file
public_key_path = ""

# AMI ID for the Windows Server instance
ami_id = ""

# Instance type for the Windows Server instance
instance_type = ""

# Size of the EBS volume in GB
ebs_volume_size = ""